section.reviews .slick-arrow.slick-next,
section.reviews .slick-arrow.slick-prev {
    width: 50px;
    height: 50px;
    border: 2px solid #E31E24;
    background: white;
}

section.reviews .slick-arrow.slick-prev,
section.reviews .slick-arrow.slick-next {
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
}


section.reviews .slick-arrow.slick-next:focus,
section.reviews .slick-arrow.slick-prev:focus {
    color: #E31E24;
    background: white !important;
}

section.reviews .slick-arrow.slick-next::before,
section.reviews .slick-arrow.slick-prev::before {
    color: #E31E24;
    width: 70px !important;
    height: 70px !important;
}

section.reviews .slick-arrow.slick-next:focus::before,
section.reviews .slick-arrow.slick-prev:focus::before {
    color: #E31E24;
}

section.reviews .slick-arrow.slick-next:hover,
section.reviews .slick-arrow.slick-prev:hover {
    background: white;
}

section.reviews{
    width: 100%;
    background: #F5F5F5;
    padding: 65px 0px 100px 0px;
}
section.reviews h1.top{
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    color: #323941;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin-bottom: 0px;
}
section.reviews .bottom{
    display: grid;
    justify-content: center;
}
section.reviews .box{
    width: 275px !important;
    display: flex;
    justify-content: center;
    margin: auto;
    border: 5px solid #E31E24;
    background: white;
    padding: 55px 10px;
}


@media(max-width:1199px){
    section.reviews .slick-arrow.slick-next,
     section.reviews .slick-arrow.slick-prev{
        width: 40px;
        height: 40px;
    }
}

@media(max-width:991px){
    section.reviews .box{
        width: 200px !important;
    }
    section.reviews .slick-arrow.slick-next,
    section.reviews .slick-arrow.slick-prev{
       width: 35px;
       height: 35px;
   }
}

@media(max-width:767px){
    section.reviews h1.top{
        font-size: 45px;
    }
    section.reviews{
        padding: 70px 0px;
    }
    section.reviews .box{
        width: 170px !important;
        padding: 30px 2px;
    }
    section.reviews .slick-arrow.slick-next{
        top: -25px;
        right: 40%;
        transform: translateY(-50%);
    }
    section.reviews .slick-arrow.slick-prev{
        top: -25px;
        left: 40%;
        transform: translateY(-50%);
    }
}


@media(max-width:575px){
    section.reviews{
        padding: 50px 0px;
    }
    section.reviews h1.top{
        font-size: 35px;
        line-height: 45px;
    }
    section.reviews .slick-arrow.slick-next{
        top: -25px;
        right: 35%;
        transform: translateY(-50%);
    }
    section.reviews .slick-arrow.slick-prev{
        top: -25px;
        left: 35%;
        transform: translateY(-50%);
    }
    section.reviews .box{
        width: 95px !important;
    }
}